body{
	margin: 0;
}
img{
	
}
.gambar{
	margin: 75px 0px;	
}
.login-page a{
	color: red;
	margin: 15px 20px;
	position: fixed;
}
.login-page a:hover{
	color: white;
}
.login-page form{
	width: 300px;
	margin: 0 auto;
	margin-top: 200px;
	border: 1px solid #000;
	padding: 10px 20px 17px 8px;
	border-radius: 5px;
	background: rgba(0,0,0,0.5);
	color: white;
}
.login-page form input[type=text], .login-page form input[type=password]{
	padding: 5px;
	margin: 3px 90px;
	width: 75%;
}
.login-page form input[type=submit]{
	padding: 5px;
	margin: 10px 90px;
	width: 75%;
}
.login-page form input[type=submit]{
background-color: #DC143C;
color: white;
border-radius: 5px;
cursor:pointer;
}
.header{
	background-color: #a01805;
	width: 150%;
}
.logo img{
	padding: 0px 50px;
}
.panel{
	width: 270px;
	background-color: burlywood;
	height: 400%;
	float: left;
}
.panel ul{
	list-style: none;
	width: 200px;
}
.panel ul li{
	padding: 8px 0;
	border-bottom-style: dotted;
	color: white;
}
.panel ul li a{
	text-decoration: none;
	color: white;
	font-size: 18px;
}
.panel ul li a:hover{
	color: #af4c4c;
}
.content{
	margin-left:300px;
	padding: 20px;
}
.content table {
	width: 100%;
	margin-top: 15px;
}
.content table thead tr{
	background-color: #a01805;
	color: white;
}
.content table tbody tr td{
	padding: 10px 50px;
}
.add{
	background-color: #03A9f4;
}
.add:hover{
	background-color: #0588c3;
}
.edit{
	background-color: #2dbd33;
}
.edit:hover{
	background-color: #229227;
}
.delete{
	background-color: #c70808;
}
.delete:hover{
	background-color: #8c0707;
}
.btn{
	padding: 5px 20px;
	color: white;
	text-decoration: none;
	margin: 0px 10px;
}
.content form input[type=text]{ 
	width: 700px;
	padding: 5px;
	margin: 5px;
	margin-top: 20px;
}
.content form input[type=password], .content form input[type=file], .content form select{
	padding: 5px;
	margin: 5px;
	margin-top: 20px;
}
.content form textarea{
	width: 700px;
	height: 300px;
	margin-top: 20px;
}
.content form lable{
	position: absolute;
}
.content form input[type=submit]{
	background-color: #03A9F4;
	width: 18%;
	padding: 10px;
	text-align: center;
	color: white;
	cursor:pointer;
}
.content form input[type=submit]:hover{
	background-color: #0588c3;
}
.content form input[type=text2]{ 
	width: 180px;
	padding: 5px;
	margin: 5px;
	margin-top: 20px;
}
.content table aksi{
	width: 5%;
	margin-top: 15px;
}
.content form input[type=date]{ 
	width: 700px;
	padding: 5px;
	margin: 5px;
	margin-top: 20px;
}